[user]
	name = Etienne Vaneecloo
	email = autherain@gmail.com

[includeIf "hasconfig:remote.*.url:*gitlab*/**"]
	path = ~/.gitconfig-gitlab

[core]
	excludesFile = ~/.gitignore_global
	editor = nvim
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
[pull]
  rebase = True
[push]
  autoSetupRemote
