[user]
	name = Etienne Vaneecloo
	email = autherain@gmail.com

[includeIf "hasconfig:remote.*.url:*gitlab*/**"]
	path = ~/.gitconfig-gitlab

[core]
	excludesFile = ~/.gitignore_global
	editor = nvim
[pull]
  rebase = True
[push]
  autoSetupRemote
